spring:
#  datasource:
#    url: jdbc:mysql://localhost:3308/smartshopdb?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
#    username: smartshop
#    password: smartshop123

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
